.SquareDsp{
  height: 100px;
  width: 100px;
  background: #D8D8D8;
  border: 1px solid #979797;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial-Black;
  font-size: 42px;
  color: #758558;
}

.DspTitle{
  font-family: Arial-Black;
  font-size: 10px;
  color: #758558;
}

#timer-label{
  font-family: Arial-Black;
  font-size: 16px;
  color: #758558;
}